<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tambah Tugas:</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{tugas_form.as_table}}
        </table>
        <input type="submit" value= "Submit">
    </form>
    <a href="/lab-4">back</a>
</body>
</html>