<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Watchlist</title>
  </head>
  <body>
    <table>
        <tr>
          <th>Watched</th>
          <th>Title</th>
          <th>Rating</th>
          <th>Release Date</th>
          <th>Review</th>
          <th>Image</th>
        </tr>
        {% for movie in watchlist %}
        <tr>
          <td>{{movie.watched}}</td>
          <td>{{movie.title}}</td>
          <td>{{movie.rating}}</td>
          <td>{{movie.release_date}}</td>
          <td>{{movie.review}}</td>
          <td><img src="{{movie.image_content.url}}" width="250" height="250"></td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>